<html>
  <head>
    <title>Dashboard</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="../../static/css/styles.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid" id="second">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Settings</a></li>
        <li><a href="#!">Profile</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logout</a></li>
      </ul>
      <nav id="navTop">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
          </ul>
        </div>
      </nav>
      <nav id="navLogo">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <li><img src="../../static/img/dp.jpg" width="45" height="45" id="dp"></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" id="username">{{request.user.first_name}}<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
      <div class="row">
       <div class="col s2 m2 l2">
         <div id="filter">
           <div class="row" style="padding-top: 3em;">
             <div class="col s12">
               <h4 style="font-size: 20px;"><i class="fas fa-filter"></i>&nbsp;&nbsp;FILTER</h4>
               <hr style="opacity: 0.5;"/>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s12">
                <select>
                  <option value="" disabled selected>Choose Department</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>CATEGORY</label>
            </div>
           </div>
           <div class="row">
             <div class="input-field col s12">
                <select>
                  <option value="" disabled selected>Work location</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
                <label>LOCATION</label>
            </div>
           </div>
           <div class="row">
             <div class="input-field col s12">
                 <input type="text" class="datepicker" id="start_date" name="start_date">
                 <label for="title">START DATE</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s12" style="text-align: center;">
                <a class="waves-effect waves-light btn-small" id="filterB">FILTER</a>
             </div>
           </div>
         </div>
       </div>
       <div class="col l10 m10 s10">
        <div id="content">
          <div class="row" style="padding-top: 3em;">
              <div class="col s12">
                <ul class="tabs">
                  <li class="tab col s3"><a class="active" href="#test1"><i class="fas fa-briefcase" style="width: 16px; height: 16px;color: black;"></i>&nbsp;&nbsp;JOBS<sup class="notif">&nbsp;{{num_of_vacancies}}&nbsp;</sup></a></li>
                  <li class="tab col s3"><a href="#test2"><i class="fas fa-check" style="width: 16px; height: 16px;color: black;"></i>&nbsp;&nbsp;APPLIED JOBS<sup class="notif">&nbsp;{{num_of_applied}}&nbsp;</sup></a></li>
                  <li class="tab col s3"><a href="#test3"><i class="fas fa-bell" style="width: 16px; height: 16px;color: black;"></i>&nbsp;&nbspNOTIFICATIONS<sup class="notif">&nbsp;5&nbsp;</sup></a></li>
                </ul>
              </div>
              {% if message is not none %}
              {{message}}
              {% endif %}
              <div id="test1" class="col s12">
                <br>
                <!-- <h5 style="font-size: 13px;"><b>3,416</b>&nbsp;&nbsp;job vacancies<h5> -->
                  {% for job in vacancies %}
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">{{job.dept_id.dept_name}}</p></td>
                        <td></td>
                        <td></td>
                        <td><a href="{% url 'sih:apply' job.id %}" class="waves-effect waves-light btn-small" id="apply">APPLY</a></td>
                      </tr>
                      <tr>
                        <td><p class="job">{{job.title}}</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">{{job.start_date}}</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">{{job.location}}</p></td>
                            <td style="font-size: 13px;"><span id="titlesec">POSTED ON</span><p id="descp">{{job.updated_on}}</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">APPLY BY</span><p id="descp">{{job.end_date}}</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                {% endfor %}
                <!--<div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                        <td></td>
                        <td></td>
                        <td><a href="#" class="waves-effect waves-light btn-small" id="apply">APPLY</a></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>

                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">29<sup>th</sup>April'18</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                            <td style="font-size: 13px;"><span id="titlesec">POSTED ON</span><p id="descp">30<sup>th</sup>March'18</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">APPLY BY</span><p id="descp">31<sup>st</sup>May'18</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                        <td></td>
                        <td></td>
                        <td><a href="#" class="waves-effect waves-light btn-small" id="apply">APPLY</a></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">29<sup>th</sup>April'18</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                            <td style="font-size: 13px;"><span id="titlesec">POSTED ON</span><p id="descp">30<sup>th</sup>March'18</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">APPLY BY</span><p id="descp">31<sup>st</sup>May'18</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                        <td></td>
                        <td></td>
                        <td><a href="#" class="waves-effect waves-light btn-small" id="apply">APPLY</a></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">29<sup>th</sup>April'18</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                            <td style="font-size: 13px;"><span id="titlesec">POSTED ON</span><p id="descp">30<sup>th</sup>March'18</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">APPLY BY</span><p id="descp">31<sup>st</sup>May'18</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>-->
              </div>
              <div id="test2" class="col s12">
                <br>
                <!-- <h5 style="font-size: 13px;">Applied for <b>4</b>&nbsp;jobs<h5> -->
                  {% for job in applied %}
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">{{job.dept_id.dept_name}}</p></td>
                      </tr>
                      <tr>
                        <td><p class="job">{{job.title}}</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">STATUS</span><p id="descp"><b>{{job.num_applicants}}</b> others applied</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">{{job.location}}</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">APPLIED ON</span><p id="descp">{{job.applied_on}}</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                {% endfor %}



                <!--<div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">STATUS</span><p id="descp"><b>26</b> others applied</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">APPLIED ON</span><p id="descp">30<sup>th</sup>March'18</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">STATUS</span><p id="descp"><b>26</b> others applied</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">APPLIED ON</span><p id="descp">30<sup>th</sup>March'18</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">STATUS</span><p id="descp"><b>26</b> others applied</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                        <td style="font-size: 13px;"><span id="titlesec">APPLIED ON</span><p id="descp">30<sup>th</sup>March'18</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
              </div>
              <div id="test3" class="col s12">
                <br>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                        <td></td>
                        <td></td>
                        <td>ACCEPTED&nbsp;&nbsp;<i class="fas fa-check-circle" style="color: #00ff00;font-size: 24px;"></i></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                        <td></td>
                        <td></td>

                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">29<sup>th</sup>April'18</p></td>

                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF HISTORY</p></td>
                        <td></td>
                        <td></td>
                        <td>ONLY&nbsp;<b>3</b>&nbsp;LEFT&nbsp;&nbsp;<i class="fas fa-exclamation-triangle" style="color: #ff0000;font-size: 24px;"></i></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                        <td></td>
                        <td></td>

                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">29<sup>th</sup>April'18</p></td>

                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF HISTORY</p></td>
                        <td></td>
                        <td></td>

                        <td>RECENT&nbsp;&nbsp;<i class="fas fa-star" style="color: #ffd700;font-size: 24px;"></i></td>
                      </tr>
                      <tr>
                        <td><p class="job">Historical findings</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Gurgaon</p></td>
                        <td></td>
                        <td></td>
                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">30<sup>th</sup>May'18</p></td>

                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                        <td></td>
                        <td></td>
                        <td>ACCEPTED&nbsp;&nbsp;<i class="fas fa-check-circle" style="color: #00ff00;font-size: 24px;"></i></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                        <td></td>
                        <td></td>

                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">29<sup>th</sup>April'18</p></td>

                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>
                <div class="eachResult" style="border-bottom: 2px solid black;">
                  <table class="striped">
                    <tbody>
                      <tr>
                        <td><p class="dept">DEPT. OF DESIGN</p></td>
                        <td></td>
                        <td></td>
                        <td>ACCEPTED&nbsp;&nbsp;<i class="fas fa-check-circle" style="color: #00ff00;font-size: 24px;"></i></td>
                      </tr>
                      <tr>
                        <td><p class="job">UI/UX Design</p><td>
                      </tr>
                      <tr>
                        <td style="font-size: 13px;"><span id="titlesec">LOCATION</span><p id="descp">Mumbai</p></td>
                        <td></td>
                        <td></td>

                        <td style="font-size: 13px;"><span id="titlesec">START DATE</span><p id="descp">29<sup>th</sup>April'18</p></td>

                      </tr>
                    </tbody>
                  </table>
                  <br>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
        <!-- <footer class="page-footer" style="background-color: white;opacity: 0.7;">
           <div class="container">

           </div>
           <div class="footer-copyright" style="background-color: #a056d1;opacity: 1;">
             <div class="container">


             </div>
           </div>
      </footer> -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
          $(".dropdown-trigger").dropdown();
          $('.sidenav').sidenav();
          $('.tabs').tabs();
          $('select').formSelect();
          $('.datepicker').datepicker();
      });
    </script>
  </body>
</html>
