<html>
  <head>
    <title>Dashboard</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="../../static/css/styles.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" id="second">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Settings</a></li>
        <li><a href="{% url 'sih:profile' %}">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/accounts/logout/">Logout</a></li>
      </ul>
      <nav id="navTop">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
          </ul>
        </div>
      </nav>
      <nav id="navLogo">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <li><img src="../../../media/{{userProfile.profilepicture}}" width="45" height="45" id="dp"></li>
            <li><a class="dropdown-trigger" href="{% url 'sih:profile' %}" data-target="dropdown1" id="username">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
      <!-- <div class="container" id="content">
          <br>
          <div class="eachResult" style="border-bottom: 2px solid black;">
            <table class="striped">
              <tbody>

                {% for job in vacancy %}

                    <tr>
                      <td><p class="job">{{job.title}}</p><td>
                    </tr>
                    <tr>
                      <td style="font-size: 13px;">
                        {% if job.results_out is  False %}
                          <i class="material-icons" id="check">check</i>
                        {% else %}
                          <i class="material-icons" id="close">close</i>
                        {% endif %}
                        {% if job.results_out is True%}Un-Active this week{%else%}Active this week{%endif%}</td>
                      <td style="font-size: 13px;"><i class="material-icons" id="account">account_circle</i>&nbsp;<b>{{job.num_applicants}}</b>&nbsp;Applicants </td>
                      <td style="font-size: 13px;"><i class="material-icons" id="location">location_on</i>&nbsp;{{job.location}}</td>
                      <td style="font-size: 13px;">
                        {% if job.results_out is  False %}
                          <a href="/change_status/{{job.id}}/">Close this application</a>
                        {% else %}
                          <a href="/change_status/{{job.id}}/">Re-open this application</a>
                        {% endif %}
                      </td>
                    </tr>

                {% endfor %}

              </tbody>
            </table>
            <br>
          </div>

          <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal tooltipped" id="addBut" data-position="left" data-tooltip="Add a new job position" style="position: fixed;margin-bottom: 5em;">
            <i class="material-icons" id="add">add</i>
          </a>
      </div> -->

      <div id="admin_content" class="container">
        <div class="row" style="padding-top: 3em;">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1"><i class="fas fa-briefcase" style="width: 16px; height: 16px;color: black;"></i>&nbsp;&nbsp;JOBS OPENED<sup class="notif">&nbsp;3&nbsp;</sup></a></li>
                <li class="tab col s3"><a href="#test2"><i class="fas fa-check" style="width: 16px; height: 16px;color: black;"></i>&nbsp;&nbsp;APPLICATIONS<sup class="notif">&nbsp;4&nbsp;</sup></a></li>
                <!-- <li class="tab col s3"><a href="#test3"><i class="fas fa-bell" style="width: 16px; height: 16px;color: black;"></i>&nbsp;&nbspNOTIFICATIONS<sup class="notif">&nbsp;5&nbsp;</sup></a></li> -->
              </ul>
            </div>
        </div>
        <div class="row">
            <div id="test1" class="col s12">
              <div id="content">
                  <br>
                  {% for job in vacancy %}
                  <div class="eachResult" style="border-bottom: 2px solid black;">
                    <table class="striped">
                      <tbody>
                        <tr>
                          <td><p class="job">{{job.title}}</p><td>
                          <td></td>
                            {% if job.results_out is  False %}
                          <td><a href="/change_status/{{job.id}}" class="waves-effect waves-light btn-small" id="closeB">CLOSE</a></td>
                            {% else %}
                          <td><a href="/change_status/{{job.id}}" class="waves-effect waves-light btn-small" id="openB">REOPEN</a></td>
                          {% endif %}
                        </tr>
                        <tr>
                          <!-- <td></td> -->

                          <td style="font-size: 13px;">
                            {% if job.results_out is  False %}
                            <i class="material-icons" id="check">check</i>
                            {% else %}
                            <i class="material-icons" id="close">close</i>
                            {% endif %}
                            {% if job.results_out is True%}
                              &nbsp;Un-Active this week
                            {%else%}
                              &nbsp;Active this week{%endif%}</td>
                          <td></td>
                          <td style="font-size: 13px;"><i class="material-icons" id="account">account_circle</i>&nbsp;<b>{{job.num_applicants}}</b>&nbsp;Applicants last week</td>
                          <td style="font-size: 13px;"><i class="material-icons" id="location">location_on</i>&nbsp;{{job.location}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                  </div>
                  {% endfor %}
                  <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal tooltipped" id="addBut" data-position="left" data-tooltip="Add a new job position" style="position: fixed;margin-bottom: 5em;">
                    <i class="material-icons" id="add">add</i>
                  </a>
              </div>
            </div>
            <div id="test2" class="col s12">
              <div class="eachResult" style="border-bottom: 2px solid black;">
                <table class="striped">
                  <tbody>
                  {% if application is None %}
                      No applications yet!!
                  {% endif %}
                  {% for application in applications %}
                    <tr>
                      <td><p class="job">{{application.dept.title}}</p></td>
                      <td></td>
                      <td style="text-align: right;"><a href="#" class="waves-effect waves-light btn-small" id="accept">ACCEPT</a></td>
                      <td><a href="#" class="waves-effect waves-light btn-small" id="decline">DECLINE</a></td>
                    </tr>
                    <tr>
                      <td><p class="applied">Applied by : &nbsp;<b><a href="/view_profile/{{application.user.pk}}">{{application.user.username}}</a></b></p><td>
                    </tr> 
                  {% endfor %}

                    <!-- <tr>
                      <td><p class="job">UI/UX DESIGN</p></td>
                      <td></td>
                      <td style="text-align: right;"><a href="#" class="waves-effect waves-light btn-small" id="accept">ACCEPT</a></td>
                      <td><a href="#" class="waves-effect waves-light btn-small" id="decline">DECLINE</a></td>
                    </tr>
                    <tr>
                      <td><p class="applied">Applied by : &nbsp;<b><a href="/view_profile/">Pradeep</a></b></p><td>
                    </tr> -->
                  </tbody>
                </table>
                <br>
              </div>
            </div>
          </div>
        </div>
      <div class="container" id="addForm">
          <h4 style="text-align: center;">Add a job position</h4>
          <br>
          <div class="row">
              <form class="col s12" method="POST" action="{% url 'sih:vacancies' deptProfile.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="input-field col s6">
                    <input id="title" type="text" class="validate" name="title">
                    <label for="title">Title</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="num_slots" type="text" class="validate" name="num_slots">
                    <label for="num_slots">Number of slots</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea" name="description"></textarea>
                    <label for="description">Description</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" class="materialize-textarea" name="location"></textarea>
                        <!-- <input id="location" type="text" class="validate" name="location"> -->
                        <label for="location">Location</label>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input type="date" id="start_date" name="start_date">
                    <label for="title">Start Date</label>
                  </div>
                  <div class="input-field col s6">
                    <input type="date" id="end_date" name="end_date">
                    <label for="title">End Date</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <label>
                      <input type="checkbox" name="results_out" value="True"/>
                      <span>Results out</span>
                    </label>
                  </div>
                  <div class="input-field col s6" style="text-align: right;">
                    <a class="waves-effect waves-light btn-small" id="back">BACK</a>&nbsp;
                    <!--<a class="waves-effect waves-light btn-small" id="adds">ADD</a>-->
                    <input type="submit" value="ADD">
                  </div>
                </div>
                <br>
              </form>
            </div>
      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
          $(".dropdown-trigger").dropdown();
          $('.sidenav').sidenav();
          $('.datepicker').datepicker();
          $('.tooltipped').tooltip();
          $("#addForm").hide();
          $('.tabs').tabs();
          $("#addBut").click(function() {
            $("#addForm").fadeIn(500);
            $("#content").hide();
          });
          $("#back").click(function() {
            $("#addForm").hide();
            $("#content").fadeIn(500);
          });
      });
    </script>
  </body>
</html>
