<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../static/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid" id="second">
        <ul id="dropdown1" class="dropdown-content">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="/accounts/logout">Logout</a>
            </li>
        </ul>
        <nav id="navTop">
            <div class="nav-wrapper">
                <img src="../../static/img/logo.svg" width="120" height="120">
                <ul class="right hide-on-med-and-down"></ul>
            </div>
        </nav>
        <nav id="navLogo">
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <img src="../../static/img/dp.jpg" width="45" height="45" id="dp">
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown1" id="username">Profile
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" id="content">
            <div class="row">
                <div class="s12" style="text-align:center; margin-top:5em;">
                    <img class="responsive-img" width="95" height="95" src="../../static/img/dp.jpg">
                </div>
                <div class="s12" style="text-align:center; margin-top:5em;">
                    <i class="fas fa-edit" style="color:#a00037;"></i> <span style="margin-left:1rem; color:#a00037;"> Edit Your Profile</span>
                </div>
            </div>
            <table class="centered responsive-table" style="margin-top:5em;">
                <tbody>
                    <tr>
                        <td>First Name</td>
                        <td class="detail">{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td class="detail">{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="detail">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td class="detail">{{ person.age }}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td class="detail">{{ person.gender }}</td>
                    </tr>
                    <tr>
                        <td>Qualifications</td>
                        <td class="detail">{{ person.qualification }}</td>
                    </tr>
                    <tr>
                        <td>Resume</td>
                        <td class="detail">{{ person.resume }}</td>
                    </tr>
                    <tr>
                        <td>Is Subscribed</td>
                        <td class="detail">True</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <footer class="page-footer" style="background-color: white;opacity: 0.7;">
           <div class="container">

           </div>
           <div class="footer-copyright" style="background-color: #a056d1;opacity: 1;">
             <div class="container">


             </div>
           </div>
         </footer> -->

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();
            $('.datepicker').datepicker();
            $('.tooltipped').tooltip();
            $("#addForm").hide();
            $("#addBut").click(function () {
                $("#addForm").fadeIn(500);
                $("#content").hide();
            });
            $("#back").click(function () {
                $("#addForm").hide();
                $("#content").fadeIn(500);
            });
        });
    </script>
</body>

</html>