<html>
  <head>
    <title>Material Components for the web</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="./css/styles.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" id="second">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Settings</a></li>
        <li><a href="#!">Profile</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logout</a></li>
      </ul>
      <nav id="navTop">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
          </ul>
        </div>
      </nav>
      <nav id="navLogo">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <li><img src="./img/dp.jpg" width="45" height="45" id="dp"></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" id="username">Gagan<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
      <div class="container" id="content">
        <!-- <nav id="searchArea">
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required placeholder="Search for jobs">
                <label class="label-icon" for="search"><i class="material-icons" id="glassb">search</i></label>
                <i class="material-icons" id="closeb">close</i>
              </div>
            </form>
          </div>
        </nav> -->

      </div>
        <footer class="page-footer" style="background-color: white;opacity: 0.7;">
           <div class="container">

           </div>
           <div class="footer-copyright" style="background-color: #a056d1;opacity: 1;">
             <div class="container">


             </div>
           </div>
         </footer>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
          $(".dropdown-trigger").dropdown();
          $('.sidenav').sidenav();
      });
    </script>
  </body>
</html>
